<context id="agentCell_reloaded" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
	<projection type="continuous space" id="space3d"></projection>
	<projection type="value layer" id="aspartateEnv"></projection>  	
</context>
